<h1>Barkley Marathons 2024</h1>

<h2>Resources</h2>

<ul>
  <li>
    The official&trade; information, provided by the infallible legend that is Keith Dunn. <a href="https://x.com/keithdunn">https://x.com/keithdunn</a>
  </li>

  <li>
    Did a tremendous job of providing updates and useful information last year: <a href="https://x.com/taka_does_stuff">Taka Does Stuff</a>
  </li>

  <li>
    It's a horrible, horrible network but the hashtag is usually fun to follow as well: <a href="https://x.com/hashtag/bm100?lang=en">#bm100</a>
  </li>

  <li>
    Speaking of horrible networks, <a href="https://www.facebook.com/lazarus.lake.7/posts/pfbid0RW4FyPbGs3N8V3hxX7w1TsfcECfTbbV26uN6sFsJQKBJPcWdv46DUzUq6kG2MGaql">Laz's Facebook page</a>
  </li>

  <li>
    A better network but less people on it, <a href="https://elk.zone/mastodon.social/tags/bm100">Mastodon #bm100</a>
  </li>

  <li>
    A big Google sheet with info on previous years: <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vS7bFn8RH5Na4vVxNijCsFCiHeYqRksDi5D9ddC9Fz4yK7nOQhEg8HwG78lz-PFVB2EkFn4QlJKEXMV/pubhtml#">here</a>
  </li>
</ul>


<h2>Runners</h2>

<% [
  :confirmed,
  :likely,
  :maybe
].each do |state| %>
  <h3>
    <%= state.to_s.capitalize %>
  </h3>

  <table>
    <% Barkley.runners.public_send(state).each do |runner| %>
      <tr>
        <td>
          <a href="/r/<%= runner.slugs.first %>">
            <%= runner.profile.name %>
          </a>
        </td>
        <td>
          <%= runner.state.reason %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<p
  From your friends at <a href="https://ferrett.io">Ferrett</a>.
</p>
