<h1>Possible entrylist</h1>

<% [
:confirmed,
:likely,
:maybe
].each do |state| %>

  <h2>
    <%= state.to_s.capitalize %>
  </h2>

  <table>
    <% RUNNERS.public_send(state).each do |runner| %>
      <tr>
        <td>
          <a href="/r/<%= runner.slugs.first %>">
            <%= runner.profile.name %>
          </a>
        </td>
        <td>
          <%= runner.state.reason %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
