<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= @page_title || opts[:default_title] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Barkley 2024">
    <style>
     :root {
       --main-width: 40rem;
       --unit: 8px;
       --color-secondary: hsl(270deg 46% 85%);
       --background: hsl(42, 89%, 96%);
       --red: hsl(336, 65%, 72%);
       --pop-red: hsl(336, 100%, 60%);
       --blue: hsl(226, 89%, 17%);
       --light-blue: hsl(189, 47%, 73%);
       --main: hsl(22, 56%, 85%);
       --white: hsl(60, 100%, 100%);
       --shadow-color: 40deg 27% 60%;
       --shadow-elevation-low:
         0px 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
         0.1px 0.2px 0.3px -1.2px hsl(var(--shadow-color) / 0.34),
         0.1px 0.4px 0.5px -2.5px hsl(var(--shadow-color) / 0.34);
       --shadow-elevation-medium:
         0px 0.1px 0.1px hsl(var(--shadow-color) / 0.36),
         0.1px 0.3px 0.4px -0.8px hsl(var(--shadow-color) / 0.36),
         0.3px 0.8px 1px -1.7px hsl(var(--shadow-color) / 0.36),
         0.6px 1.9px 2.2px -2.5px hsl(var(--shadow-color) / 0.36);
       --shadow-elevation-high:
         0px 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
         0.2px 0.5px 0.6px -0.4px hsl(var(--shadow-color) / 0.34),
         0.3px 1px 1.2px -0.7px hsl(var(--shadow-color) / 0.34),
         0.6px 1.7px 2px -1.1px hsl(var(--shadow-color) / 0.34),
         0.9px 2.7px 3.2px -1.4px hsl(var(--shadow-color) / 0.34),
         1.4px 4.2px 5px -1.8px hsl(var(--shadow-color) / 0.34),
         2.1px 6.3px 7.5px -2.1px hsl(var(--shadow-color) / 0.34),
         3.1px 9.4px 11.1px -2.5px hsl(var(--shadow-color) / 0.34);
     }
     @font-face {
       font-family: 'Paint';
       src: url('/fonts/PaintFactory-Regular.woff2') format('woff2');
       font-weight: 400;
       font-style: normal;
       font-display: fallback;
     }
     @font-face {
       font-family: 'Paint';
       src: url('/fonts/PaintFactory-Bold.woff2') format('woff2');
       font-weight: 700;
       font-style: normal;
       font-display: fallback;
     }
     h1, h2, h3, h4 {
       font-family: "Paint";
     }
     * {
       margin: 0;
       padding: 0;
       outline: none;
       font-size: 1em;
       font-weight: normal;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       color: inherit;
       text-align: left;
       line-height: 1.5;
     }
     body {
       background-color: var(--background);
       font-size: 16px;
       font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
       white-space: normal;
       -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       -webkit-font-feature-settings: "liga" on;
       font-feature-settings: "liga" on;
       -moz-font-feature-settings: "liga" on;
       line-height: calc(var(--unit) * 2.5);
       min-height: 100vh;
       scroll-behavior: smooth;
     }
     .wrapper {
       margin: 0 auto;
       max-width: 80ch;
       padding: var(--unit);
     }
     @media(min-width: 700px) {
       .wrapper {
         padding: 0;
       }
     }
     .resources li {
       margin-bottom: calc(2* var(--unit));
     }
     .footer {
       margin-top: calc(2* var(--unit));
     }
     a {
       color: var(--pop-red);
     }

     /* clamp(min, val, max) */
     h1 { font-size: clamp(2.0rem, 4.0vw + 1rem, 6rem); }
     h2 { font-size: clamp(1.5rem, 2.0vw + 1rem, 4rem); }
     h3 { font-size: clamp(1.2rem, 1.2vw + 1rem, 3rem); }
     h4 { font-size: clamp(0.9rem, 1.0vw + 1rem, 2rem); }

     .runner {
       display: grid;
     }
     .runner__name {
       font-weight: 800;
     }
     .runner__info {
       color: lightgrey;
     }
     .runner__links {
       display: grid;
     }
     .runner__links > * {
       aspect-ratio: 1 / 1;
       max-width: 4rem;
     }
     /* https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css */
     abbr.left:before {
       /* reset defaults */
       left:initial;
       margin:initial;
       top: initial;

       /* set new values */
       top: -80px;
       margin-right:15px;
       transform:translateX(50%);
     }

     abbr {
       position: relative;
       color: #c8b7af;
       border-bottom:1px dashed #c8b7af;

     }
     abbr:hover {
       color: red;
       font-weight: strong;
     }
     abbr:before {
       content: attr(title); /* here's the magic */
       position:absolute;
       z-index: 9999;
       /* vertically center */
       left:0;
       margin-top: calc(var(--unit) * 1);
       /* basic styles */
       width:200px;
       padding:10px;
       border-radius:10px;
       background:#000;
       color: #fff;
       text-align:center;
       display: none;
     }
     abbr:after {
       content: "";
       position:absolute;
       left:50%;
       transform:translateX(-50%);
       margin-top: calc(var(--unit) * -1);
       border:10px solid #000;
       border-color: transparent transparent black transparent;

       display:none;
     }
     abbr:hover::before, abbr:hover::after {
       display: block;
     }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
