<h3>
  <% if @edition.year == 2026 %>
    <a href="/">Home</a>
  <% else %>
    <a href="/<%= @edition.year %>"><%= @edition.year %></a>
  <% end %>
</h3>

<%= partial("runner", locals: {runner: @runner}) %>
