attempts: 0
profile:
  first_name: ""
  last_name: ""
  year: 1980
  nationality: :nz
# maybe, likely, confirmed
state:
  state: :confirmed
  reason: ""
# duv, web, instagram, twitter, wiki
# https://statistik.d-u-v.org
the_inter_webs:
  duv: ""
  web: ""
  instagram: ""
  twitter: ""
  wiki: ""
notes: |
  Notes go here