profile:
  first_name: ""
  last_name: ""
  year: 1980
  nationality: :nz
years:
  2026:
    state: :maybe, :likely, :confirmed
    reason: ""
    finished: false
# duv, web, instagram, twitter, wiki
# https://statistik.d-u-v.org
the_inter_webs:
  duv: ""
  web: ""
  instagram: ""
  twitter: ""
  wiki: ""
notes: |
  Notes go here